<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <link rel="stylesheet" href="css/styles.css">
      <title>Find the Day of the Week</title>
  </head>

  <body>
    <div class='container'>
      <div class='jumbotron'>
        <h1>Find the Day of the Week</h1>
        <p><em>Find the day of the week of any date!</em></p>
      </div>  <!-- /JUMBOTRON -->

  <!-- Row: 1 -->
      <div class='row'>
        <div class='col-sm-6'>
          <h2>Enter a date</h2>
          <form action='/results' method='post'>
            <div class='form-group'>
              <label for='input_date'>Date:</label>
              <input id='input_date' name='input_date' type='date'>
            </div>
            <button class='btn btn-warning' type='submit'>Submit!</button>
          </form>
        </div>  <!-- /col-sm-6 -->
      </div>  <!-- /Row -->

<!-- Results ------------>
  <!-- Row: 2 -->
      <div class="row">
          <div class="col-sm-6">

            <h1>The day of the week is:</h1>
            <h4>{{ result }}</h4>


          </div><!--col-sm-6-->
      </div><!--row-->
    </div>  <!-- /Container  -->

  </body>
</html>
